<!DOCTYPE html>
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">

        .gm-style .gm-style-mtc label, .gm-style .gm-style-mtc div {
            font-weight: 400
        }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <style type="text/css">

        .gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div {
            font-size: 10px
        }
    </style>
    <style type="text/css">

        @@media print {
            .gm-style .gmnoprint, .gmnoprint {
                display: none
            }
        }

        @@media screen {
            .gm-style .gmnoscreen, .gmnoscreen {
                display: none
            }
        }
    </style>
    <style type="text/css">

        .gm-style-pbc {
            transition: opacity ease-in-out;
            background-color: rgba(0,0,0,0.45);
            text-align: center
        }

        .gm-style-pbt {
            font-size: 22px;
            color: white;
            font-family: Roboto,Arial,sans-serif;
            position: relative;
            margin: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%)
        }
    </style>
    <title>@ViewBag.Title - путешествия и отдых</title>
    <!-- Latest Bootstrap min CSS -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <!-- Google Font -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link href="~/fonts/font-awesome.min.css" rel="stylesheet" />
    <!--- owl carousel Css-->
    <link href="~/Content/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.css" rel="stylesheet" />
    <!--Flex slider-->
    <!--<link rel="stylesheet" href="assets/css/flexslider.css">-->
    <link href="~/Content/flexslider.css" rel="stylesheet" />
    <!-- component CSS -->
    <!--<link rel="stylesheet" href="assets/css/aos.css">-->
    <link href="~/Content/aos.css" rel="stylesheet" />
    <!-- Style CSS -->
    <!--<link rel="stylesheet" href="assets/css/style.css">-->
    <link href="~/Content/style.css" rel="stylesheet" />


    <style type="text/css">

        .gm-style {
            font: 400 11px Roboto, Arial, sans-serif;
            text-decoration: none;
        }

            .gm-style img {
                max-width: none;
            }
    </style>

</head>


<body data-spy="scroll" data-offset="80" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <!-- START PRELOADER -->
    <div class="preloader">
        <div class="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- END PRELOADER -->
    <!-- START NAVBAR -->
    <nav class="navbar navbar-toggleable-sm fixed-top navbar-light bg-faded site-navigation navbar-fixed">
        <div class="container">
            <a class="navbar-brand" href="#home">
                <img src="~/assets/img/s411.png" />
                <!--<img style="width:100px" src="~/assets/img/s4.png" />-->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="icon-menu"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link active" href="@Url.Action("Index", "Main")#Home">Главная</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Main")#st">Поиск туров</a></li>
                    @*<li class="nav-item"><a class="nav-link" href="#special_package">Горящие туры</a></li>*@
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Main")#top_deals">Страны</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Main")#deals_discount">Услуги</a></li>
                    <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Main")#contact">Контакты</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
    <!-- START Слоган -->
    <section data-stellar-background-ratio="0.3" id="home" class="home_parallax" style="height: 200px;
    background-image: url(@Url.Content("/assets/img/bg/parallax-bg-mini.jpg")); background-size: cover; background-position: 50% 0px;">
        @*<div class="container">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="hero-text">
                            <h1>Попробуй мир!</h1>
                            <p>Будь там, где твои мечты</p>
                            <a href="#st" class="btn btn-default btn-home-bg">Найти тур</a>
                        </div>
                    </div><!--- END COL -->
                </div><!--- END ROW -->
            </div><!--- END CONTAINER -->*@
    </section>
    <!-- END  слоган -->


    @RenderBody()
    <style>
        .lol {
            background: #fff none repeat scroll 0 0;
            border-radius: 30px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
            color: #f9461d;
            font-size: 18px;
            height: 45px;
            line-height: 45px;
            /*margin-right: 0px;
            margin-left: 45px;*/
            text-align: center;
            width: 45px;
        }
    </style>
    <footer class="footer" style="background-color:rgba(0,0,0,0.9)">
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="text-align:center">
                    <i class="fa fa-rocket lol"></i><br />г. Днепр, ул. Амурская, 112
                </div>
                <div class="col-md-3"style="text-align:center" >
                    <i class="fa fa-phone lol"></i><br />(+38) 063-769-69-00<br />(+38) 066-267-00-07
                </div>
                <div class="col-md-3" style="text-align:center">
                    <i class="fa fa-envelope lol "></i><br />olesiatour@gmail.com
                </div>
                <div class="col-md-3" style="text-align:center" >
                    <i class="fa fa-clock-o lol"></i><br />Понедельник - Пятница:<br /> 09:00 - 18:00
                </div>

            </div>
        </div>
    </footer>

    <!-- END MAP -->
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@

    <!-- Latest jQuery -->
    @*<script src="~/Scripts/js/jquery-1.12.4.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <!--<script src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>-->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <!-- modernizer JS -->
    <!--<script src="assets/js/modernizr-2.8.3.min.js"></script>-->
    <!-- jquery nav JS -->
    <!--<script src="assets/js/jquery.nav.js"></script>-->
    <script src="~/Scripts/js/jquery.nav.js"></script>
    <!-- jquery smooth-scroll JS -->
    <script src="~/Scripts/js/smooth-scroll.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- stellar js -->
    <script src="~/Scripts/js/jquery.stellar.min.js"></script>
    <!-- countTo js -->
    <script src="~/Scripts/js/jquery.inview.min.js"></script>
    <!-- jquery flexslider min js -->
    <script src="~/Scripts/js/jquery.flexslider-min.js"></script>
    <!-- scrolltopcontrol js -->
    <script src="~/Scripts/js/scrolltopcontrol.js"></script>
    <!-- form-contact js -->
    <script src="~/Scripts/js/form-contact.js"></script>
    <!-- aos js -->
    <script src="~/Scripts/js/aos.js"></script>
    <!-- switcher js -->
    @*<script src="~/Scripts/js/switcher.js"></script>*@
    <!-- map js -->
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuQV1y9-oIZq0LCktO8kB9tJ9_fDwH2h8"></script>*@
    <!-- unobtrusive-ajax -->
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <!-- scripts js -->
    <script src="~/Scripts/js/scripts.js"></script>
    <script>
        //Callback methods for sending email
        function OnSuccess() {
            $('#submitButton').css('display', 'block');
            $('#loadingGif').css('display', 'none');
            //$('#msgsuccess').css('visibility', 'visible');
            $('#msgsuccess').css('visibility', 'visible').animate({ opacity: 1.0 }, 500);
            setTimeout('$("#msgsuccess").animate({ opacity: 0.0 }, 5000)', 500);
        }
        function OnFailure() {
            alert("Что-то пошло не так, попробуйте позже :-(");
            $('#submitButton').css('display', 'block');
            $('#loadingGif').css('display', 'none');
        }
        function OnBegin() {
            $('#submitButton').css('display', 'none');
            $('#loadingGif').css('display', 'block');
        }

        //Settings API INSTAGRAM
        $(function ($) {
            $('table[width="100%"],[cellspacing="0"], [cellpadding="3"]').css('margin', 'auto');
            var tok = '7014653161.b134d61.5a763e6c556f4f8f908980040502f02a',
                username = 's_elephant_travel',
                kolichestvo = 4;

            $.ajax({
                url: 'https://api.instagram.com/v1/users/search',
                dataType: 'jsonp',
                type: 'GET',
                data: { access_token: tok, q: username },
                success: function (result) {
                    //console.log(result);
                    $.ajax({
                        url: 'https://api.instagram.com/v1/users/' + result.data[0].id + '/media/recent',
                        dataType: 'jsonp',
                        type: 'GET',
                        data: { access_token: tok, count: kolichestvo },
                        success: function (result2) {
                            //console.log(result2);
                            var i = 1;
                            for (x in result2.data) {
                                var g = '#inst' + i;
                                $(g).append('<img  class="blog-photo" width="420" height="350" alt="" src="' + result2.data[x].images.standard_resolution.url + '" />');

                                if (result2.data[x].caption == null)
                                    $(g).children('div').children('div').append('S-Elephant Ваш гид по миру!');
                                else
                                    $(g).children('div').children('div').append('<span>' + result2.data[x].caption.text + '</span>');

                                $(g).children('div').children('h4').children('a').attr("href", result2.data[x].link);
                                i++;
                            }

                        },
                        error: function (result2) {
                            console.log(result2);
                        }
                    });
                },
                error: function (result) {
                    console.log(result);
                }
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
